@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* All of the site */

body{
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.pageContainer{
    position: relative;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, p{
    margin: auto;
    width: 50%;
}

h2{
    font-weight: 600;
}

.btn{
    background-color: green;
    border-color: green;
}
.btn:hover{
    background-color: rgb(5, 73, 5);
    border-color: rgb(5, 73, 5);
}

.center{
    margin: auto;
    width: 50%;
}

.separatingBorder{
    border-top: 2px solid rgb(0, 0, 0);
}

/* Navbar */

header{
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.navbar-nav li{
    margin-left:15px;
    margin-right:15px;
}

/* About me section */

.imageMe{
    margin: auto;
    max-height: 450px;
    margin-top: 7px;
    margin-bottom: 7px;   
}

.centerText{
    align-content: center;
}

/*  Portfolio section */

.card{
    width: 19rem;
}

.card-text{
    width: auto;
}

.btn{
    margin-top: 5px;
}

.padding-ul{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/* Referens section */


.quote-box{
    border-bottom: 1px solid white;
    padding: 10px;
}

/* Contactform section */

.emailBox{
    width: 300px;
    border-radius: 5px;
    padding: 7px
}


.contactBorder{
    border: 1px solid gray;
}

textarea{
    resize: none;
}

/* Footer section */

main{
    padding-bottom: 115px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding-top: 20px;
}

footer img{
    width: 30px;
}
